form(name='inputForm')
    input.form-control.input-sm(
      data-uib-datepicker-popup='dd/MM/yyyy',
      data-popup-placement='auto bottom-left'
      data-is-open='true'

      data-datepicker-append-to-body='true'
      data-datepicker-options='{formatMonth: "MM"}',
      type='text',
      ng-model='MODEL_COL_FIELD')
